
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
body,html{
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0;
} 
.table-head-icon{
  font-size: 24px;
  padding-top: 10px;
  margin-right: 5px;
  color: #008ca4;
}
input{ 
  width: 300px;
  cursor: default;
  border: none;
  border-width: 0; 
  font-size: 14px;
} 
input::-moz-selection {
  color: #f1f1f1;
  background: #383838;
  border: none;
  border-width: 0; 
}
textarea:focus, input:focus{
  outline: none;
} 
input::selection {
  color: #f1f1f1;
  background: #383838;
  border: none;
  border-width: 0; 
}  
input::placeholder {
  color: #dbdbdb;
}
@media only screen and (max-width: 1100px) { 
  .table-styles{
    overflow: auto !important;
    max-width: 100vw !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .login-back-view{ 
      justify-content: center !important;
      align-items: center !important;
  }  
  .login-user-modal{
    left: unset !important;
    right: unset !important;
  }
  img{
    object-fit: contain;
  }
}